<!--=====================================
	Header Mobile
	======================================-->

<header class="header header--mobile" data-sticky="false">

    <div class="header__top">

        <div class="header__left">

            <ul class="d-flex justify-content-center">
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f mr-4"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram mr-4"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter mr-4"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube mr-4"></i></a></li>
            </ul>
        </div>

        <div class="header__right">

            <ul class="navigation__extra">

                <li><a href="#">Pokemon</a></li>
                <li><a href="#">Frontend</a></li>
                <li><i class="icon-telephone"></i> Manuel Ortiz:<strong> 5627040405</strong></li>

            </ul>

        </div>

    </div>

    <div class="navigation--mobile">

        <div class="navigation__left">



            <a class="ps-logo pl-3 pl-sm-5" href="#">
                <img src="{{path}}img/pokebola.png" style="width: 40px;" class="pt-3" alt=""> Pokédex
            </a>

        </div>

        <div class="navigation__right">

            <div class="header__actions">

                <!--=====================================
					Cart
					======================================-->

                <div class="ps-cart--mini">

                    <a class="header__extra" href="/cardcolor">
                        <img src="{{path}}img/insignias.png" class="img-fluid" alt="Responsive image" style="width: 50px;">
                    </a>
                    <a class="header__extra" style="margin-left: 20px;" href="#">
                        <img src="{{path}}img/huevo-afortunado.png" class="img-fluid" alt="Responsive image" style="width: 50px; ">
                    </a>


                </div>

            </div>

        </div>

    </div>

    <!--=====================================
		Search
		======================================-->

    <div class="ps-search--mobile">

        <form class="ps-form--search-mobile" action="index.html" method="get">
            <div class="form-group--nest">
                <input class="form-control caja" id="cajacel" type="text" placeholder="Coloque el Nombre o ID del Pokemon ">
                <button id="buttoncel"><i class="icon-magnifier"></i></button>
            </div>
        </form>

    </div>

</header>

<style>
    .header--mobile {
        background-color: #bfbfbf;
    }
</style>